extends base.pug

block content 
    h1 Watch Video!
    video(src="/" + video.fileUrl, width="500", height="500", controls)
    p=video.description
    small=video.createdAt
    br
    small Uploaded by 
        a(href=`/users/${video.owner._id}`) #{video.owner.username}
    br
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delet Video &rarr;